<li>
<a target='_blank' href="https://scholar.google.nl/citations?user=Uq5KrMoAAAAJ" itemprop="sameAs">
<i class="fab fa-brands fa-google" aria-hidden="true"></i> Google Scholar
</a>
</li>
<li>
<a target='_blank' href="https://www.researchgate.net/profile/Julian_Kooij2" itemprop="sameAs">
<i class="fab fa-brands fa-researchgate" aria-hidden="true"></i> ResearchGate
</a>
</li>
<li>
<a target='_blank' href="https://www.tudelft.nl/en/staff/j.f.p.kooij/" itemprop="sameAs">
<i class="fas fa-solid fa-school" aria-hidden="true"></i> TU Delft staff page
</a>
</li>
<li>
<a target='_blank' href="https://cor.tudelft.nl/" itemprop="sameAs">
<i class="fas fa-solid fa-building" aria-hidden="true"></i> CoR department
</a>
</li>
<li>
<a target='_blank' href="http://intelligent-vehicles.org/" itemprop="sameAs">
<i class="fas fa-users" aria-hidden="true"></i> IV Lab website
</a>
</li>
